*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#brand{
    font-size: 24px;
    filter: blur(2px);
}

img{
    float: left;
    height: 24px;
    width: 24px;
}


#ready h2{
    font-size: 80px;
}


#boton{
    background-color: #ADE040;
    border: 1px solid #80A337;
    border-radius: 40px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 40px;
}

.i{
    width: 400px;
    margin: 20px;
}

.duda{
    color: #739134;
    text-decoration-line: line-through;
}

#cardVerification{
    width: fit-content;
}

#cardVerification h2{
    font-size: 60px;
    margin-bottom: 30px;
}

#box{
    background-color: #FAF9F9;
    color: gray;
    font-style: italic;
    border: 1px solid #A3A3A3;
    border-radius: 40px;
    height: 40px;
    margin-bottom: 15px;
}
.name,.card{
    width: 500px;
    display: block;
}

.cvv,.expired{
    width: 248px;
}

.verificar{
    display: block;
    width: 200px;
    margin-top: 20px;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-style: italic;
    color: #739134;
    font-size: 12px;
}